/* Fully aware that this is not the ideal way to organize CSS. Don't @ me. */

html,body {
  background: white;
  font-family: 'Rubik', sans-serif;
}

.region-footer {
  background: #e4eef1;
  padding: 50px 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #1971b3;
  text-decoration: none;
}

a,
[data-proxy-click] {
  transition: color .2s;
}

a:hover,
[data-proxy-click]:hover {
  color: #44A1E7;
}

[data-proxy-click] [style*="fill:#ff5130;"],
[data-proxy-click] [style*="stroke:#ff5130;"] {
  transition: fill .2s, stroke .2s;
}

[data-proxy-click] [style*="fill:#ff5130;"] {
  fill: #ff5130 !important;
}

[data-proxy-click] [style*="stroke:#ff5130;"] {
  stroke: #ff5130 !important;
}

[data-proxy-click]:hover [style*="fill:#ff5130;"] {
  fill: #44A1E7 !important;
}

[data-proxy-click]:hover [style*="stroke:#ff5130;"] {
  stroke: #44A1E7 !important;
}

[data-proxy-click] {
  cursor: pointer;
}

/* Paragraph type styling */

.paragraph,
.header-menu,
.documentation-title,
.page-node-book main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.paragraph {
  margin-bottom: 100px;
}

.paragraph--type--hero h2 {
  font-size: 48px;
  margin-top: 0;
}

.paragraph--type--hero p {
  font-size: 30px;
}

.paragraph--type--hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.paragraph--type--hero.hero-alignment-right {
  flex-direction: row-reverse;
}

.paragraph--type--hero.hero-alignment-right {
  text-align: right;
}

.paragraph--type--hero.hero-alignment-center {
  flex-direction: column-reverse;
  text-align: center;
}

.paragraph--type--hero .hero-text {
  max-width: 60%;
}

.paragraph--type--heroes {
  padding: 0;
}

.paragraph--type--heroes .field--name-field-paragraph {
  display: flex;
  flex-wrap: wrap;
}

.paragraph--type--heroes .field--name-field-paragraph > .field__item {
  width: 50%;
}

/* Homepage specific styling */

.home-header {
  display: block;
}

.home-header .hero-text,
.paragraph--type--hero.hero-alignment-center .hero-text {
  max-width: none;
}

.home-header h2 {
  display: inline-block;
  position: relative;
  font-size: 140px;
  margin: 0;
  z-index: 1;
}

.documentation-title h1 {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.home-header h2::before,
.documentation-title h1::before {
  background-color: #6FC9CA;
  content: "";
  z-index: -1;
  width: calc(100% + 1rem);
  height: calc(100% - 5rem);
  display: block;
  position: absolute;
  top: calc(50% - 5rem);
  left: -1rem;
  transform: skewX(-15deg);
}

.documentation-title h1::before {
  width: 100%;
  height: calc(100% - 10px);
  top: -5px;
  left: -5px;
}

.home-header p {
  text-align: right;
}

.module-icon,
.module-list-header {
  margin-bottom: 25px;
}

.module-icon h2 {
  margin: 0;
  font-size: 35px;
}

.module-icon p {
  font-size: 25px;
  padding: 0 50px;
}

.module-icon .hero-image svg {
  height: 80px;
}

.home-get-started {
  background-image: url(../assets/calloutbg.svg);
  background-size: 160px 311px;
  padding: 0;
  max-width: none;
  width: 100%;
  height: 311px;
  display: flex;
  justify-content: center;
}

.home-get-started h2 {
  display: inline-block;
  background: white;
  padding: 15px 30px;
  margin: 0;
}

.header-menu {
  text-align: right;
  padding: 20px;
}

/* Docs */

.page-node-book aside {
  width: 210px;
  margin-right: 50px;
}

.page-node-book main {
  display: flex;
  align-content: flex-start;
  min-height: 500px;
}

.page-node-book main > .content {
  max-width: calc(100% - 260px);
}

.burger-menu .menu-item a {
  display: block;
  width: 100%;
  padding: 0.2rem;
}

.menu-item--active-trail a {
  text-decoration: underline;
}

.menu-item--expanded ul.menu {
  margin-left: 1rem;
}


ul {
  line-height: 1.5rem;
}

li {
  margin-bottom: .5rem;
}

.page-node-book article {
  max-width: 850px;
}

.book-navigation {
  display: none;
}

ul.menu {
  margin: 0;
}

.block-book-navigation li {
  margin-bottom: 1rem;
}

.burger {
  display: none;
}

.burger-menu {
  display: block;
}

.block-system-branding-block {
  display: inline-block;
}

.block-system-branding-block img {
  height: 100px;
}

.menu-item--expanded {
  list-style: none;
}

.hljs {
  display: inline-block;
  min-width: calc(100% - 1em);
}

.menu-item--expanded > a {
  border-bottom: 1px solid #dadada;
}

.documentation-title a {
  color: black;
}

/* Mobile styling */

@media screen and (max-width: 800px) {
  .paragraph {
    margin-bottom: 75px;
  }
  .paragraph--type--heroes .paragraph {
    margin-bottom: 50px;
  }
  .paragraph--type--hero .hero-text {
    max-width: none;
  }
  .paragraph--type--hero:not(.home-header),
  .paragraph--type--hero.hero-alignment-right:not(.home-header) {
    flex-direction: column-reverse;
  }
  .paragraph--type--hero.hero-alignment-right:not(.home-header) {
    text-align: left;
  }
  .paragraph--type--hero svg {
    max-height: 200px;
    margin-bottom: 30px;
  }
  .paragraph--type--heroes svg {
    margin-bottom: 25px;
  }
  .paragraph--type--heroes .field--name-field-paragraph > .field__item {
    width: 100%;
  }
  .paragraph--type--hero h2 {
    font-size: 35px;
  }
  .paragraph--type--hero p {
    font-size: 25px;
  }
  .module-icon h2 {
    font-size: 30px;
  }
  .module-icon p {
    font-size: 20px;
  }
  .home-header h2 {
    font-size: 100px;
  }
  .home-header h2::before {
    top: calc(50% - 3rem);
    left: 0;
    height: calc(100% - 4rem);
  }
  .burger {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  .burger-menu.expanded {
    display: block;
  }
  .burger,
  .burger-menu .menu-item a {
    padding: .5rem;
  }
  .block-book-navigation li {
    margin: 0;
  }
  .page-node-book main {
    flex-wrap: wrap;
  }
  .page-node-book aside {
    width: 100%;
    padding: 0;
    margin-right: 0;
  }
  .page-node-book main > .content {
    max-width: 100%;
  }
}
