/* Fully aware that this is not the ideal way to organize CSS. Don't @ me. */

html,body {
  background: white;
  font-family: 'Rubik', sans-serif;
}

.paragraph--type--hero .field--name-field-headline,
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}

h1 {
  display: inline-block;
  font-size: 3rem;
  position: relative;
}

h1:before,
h3:before {
  background-color: #6FC0FF;
  content: "";
  z-index: -1;
  width: calc(100% - .2rem);
  height: calc(100% + .1rem);
  display: block;
  position: absolute;
  left: -.3rem;
  top: -.5rem;
}

main {
  display: flex;
  min-height: 500px;
}

main > .content {
  width: 100%;
}

header {
  padding: .5rem
}

aside {
  padding: 1rem;
  min-width: 200px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  font-style: italic;
}

code {
  background: #292929;
  display: block;
  color: white;
  padding: 1rem;
}

code,ul {
  line-height: 1.5rem;
}

li {
  margin-bottom: .5rem;
}

footer {
  padding: 1rem;
}

.page-node-book article {
  max-width: 850px;
}

.page-node-book {
  margin: 1.5rem;
}

.book-navigation {
  display: none;
}

.block-book-navigation ul {
  margin: 0;
  margin-right: 1rem;
}

.block-book-navigation li {
  margin-bottom: 1rem;
}

.block-book-navigation .menu-item--active-trail a {
  text-decoration: underline;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small-callout {
  max-width: 250px;
}

.small-callout h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.small-callout h3 {
  font-size: 2.5rem;
}

.block-system-branding-block {
  display: inline-block;
}

.block-system-branding-block img {
  height: 100px;
}

.paragraph--type--hero {
  position: relative;
  margin-top: -1px;
  min-height: 400px;
}

.paragraph--type--hero .hero-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.hero-alignment-left .hero-inner,
.hero-alignment-left-top .hero-inner,
.hero-alignment-left-bottom .hero-inner {
  align-items: flex-start;
}

.hero-alignment-right .hero-inner,
.hero-alignment-right-top .hero-inner,
.hero-alignment-right-bottom .hero-inner {
  align-items: flex-end;
  text-align: right;
}

.hero-alignment-center .hero-inner,
.hero-alignment-left .hero-inner,
.hero-alignment-right .hero-inner {
  justify-content: center;
}

.hero-alignment-center,
.hero-alignment-center-top,
.hero-alignment-center-bottom {
  text-align: center;
}

.hero-alignment-center-top .hero-inner,
.hero-alignment-left-top .hero-inner,
.hero-alignment-right-top .hero-inner {
  justify-content: flex-start;
}

.hero-alignment-center-bottom .hero-inner,
.hero-alignment-left-bottom .hero-inner,
.hero-alignment-right-bottom .hero-inner {
  justify-content: flex-end;
}

.paragraph--type--hero .field--name-field-headline {
  font-size: 5rem;
  font-weight: 100;
}

.paragraph--type--hero .field--name-field-text {
  font-size: 1.5rem;
}

.paragraph--type--hero .field--name-field-link {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;
  transition: .2s;
}

.paragraph--type--hero .field--name-field-link a {
  color: inherit;
}

.paragraph--type--hero .field--name-field-link a:after {
  content: "➡";
  display: inline-block;
  margin-left: .5rem;
  transition: .2s;
  text-decoration: none !important;
}

.paragraph--type--hero .field--name-field-link:hover {
  right: 1.5rem;
}

.paragraph--type--diagram,
.paragraph--type--rich-text {
  max-width: 850px;
  margin: 1.5rem auto;
}

.paragraph--type--rich-text {
  padding: 1.5rem 0;
  font-size: 1rem;
  line-height: 2rem;
}

.paragraph--type--diagram .field--name-field-description {
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 850px) {
  main {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 2.5rem;
  }
  .paragraph--type--hero {
    min-height: 250px;
  }
  .paragraph--type--rich-text {
    margin: 0 1.5rem 0 1.5rem;
  }
  .paragraph--type--hero .field--name-field-headline {
    font-size: 3rem;
  }
  .paragraph--type--hero .field--name-field-text {
    font-size: 1rem;
  }
  .paragraph--type--hero .hero-inner {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;
  }
  .paragraph--type--hero .field--name-field-text p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .paragraph--type--hero .field--name-field-link {
    font-size: 1.5rem;
    right: 1rem;
  }
  .paragraph--type--hero .field--name-field-link:hover {
    right: .5rem;
  }
  .small-callout {
    max-width: 400px;
  }
}
