/* Fully aware that this is not the ideal way to organize CSS. Don't @ me. */

html,body {
  background: white;
  font-family: 'Rubik', sans-serif;
}

.region-footer {
  background: #e4eef1;
  padding: 50px 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #1971b3;
  text-decoration: none;
}

a,
[data-proxy-click] {
  transition: color .2s;
}

a:hover,
[data-proxy-click]:hover {
  color: #44A1E7;
}

[data-proxy-click] {
  cursor: pointer;
}

/* Paragraph type styling */

.paragraph {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.paragraph--type--hero h2 {
  font-size: 48px;
  margin-top: 0;
}

.paragraph--type--hero p {
  font-size: 30px;
}

.paragraph--type--hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.paragraph--type--hero.hero-alignment-right {
  flex-direction: row-reverse;
}

.paragraph--type--hero.hero-alignment-right {
  text-align: right;
}

.paragraph--type--hero.hero-alignment-center {
  flex-direction: column-reverse;
  text-align: center;
}

.paragraph--type--hero .hero-text {
  max-width: 60%;
}

.paragraph--type--heroes .field--name-field-paragraph {
  display: flex;
  flex-wrap: wrap;
}

.paragraph--type--heroes .field--name-field-paragraph > .field__item {
  width: 50%;
}

/* Homepage specific styling */

.home-header {
  display: block;
}

.home-header .hero-text,
.paragraph--type--hero.hero-alignment-center .hero-text {
  max-width: none;
}

.home-header h2 {
  display: inline-block;
  position: relative;
  font-size: 140px;
  margin: 0;
  z-index: 1;
}

.home-header h2:before {
  background-color: #6FC9CA;
  content: "";
  z-index: -1;
  width: calc(100% + 1rem);
  height: calc(100% - 5rem);
  display: block;
  position: absolute;
  top: calc(50% - 5rem);
  left: -1rem;
  transform: skewX(-15deg);
}

.home-header p {
  text-align: right;
}

.module-icon,
.module-list-header {
  margin-bottom: 25px;
}

.module-icon h2 {
  margin: 0;
  font-size: 35px;
}

.module-icon p {
  font-size: 25px;
  padding: 0 50px;
}

.module-icon .hero-image svg {
  height: 80px;
}

.home-get-started {
  background-image: url(../assets/pattern.svg);
  background-size: 160px 311px;
  max-width: none;
  width: 100%;
  height: 311px;
  display: flex;
  justify-content: center;
}

.home-get-started h2 {
  display: inline-block;
  background: white;
  padding: 15px 30px;
  margin: 0;
}
